n8n/hackathon-2025-11 PKHE change message forwarder.json
{
  "name": "hackathon-2025-11 PKHE change message forwarder",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        832,
        256
      ],
      "id": "c74ff078-e64b-41bc-85f4-6e9459f88a79",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "1DvNJleZFQU9idTA",
          "name": "DAIN internal OpenAI key"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#hackathon-2025-11-remote-team",
          "mode": "name"
        },
        "text": "=Release notes output:\n---\n{{ $json.output }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1152,
        -96
      ],
      "id": "992a56d5-0927-4ce7-b9af-6e6ef65a6054",
      "name": "Send a message",
      "webhookId": "ed4d2559-b07b-40c2-9e08-f179883e4910",
      "credentials": {
        "slackApi": {
          "id": "Nv7GP6u0QWldgp0H",
          "name": "Slack bot n8n DAIN internal"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "89e4c260-fa24-4dfd-aa3c-64bd2e6fa2a0",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        -192
      ],
      "id": "0dd4daa6-798f-4f07-865a-712516ab1956",
      "name": "Webhook1",
      "webhookId": "89e4c260-fa24-4dfd-aa3c-64bd2e6fa2a0"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        176
      ],
      "id": "3addba0f-5f2e-4362-a38d-2722ded79e35",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7bc32bdf-614a-4b0e-904c-4da975e340b8",
              "name": "json",
              "value": "{   \"repo\": \"dainstudios/DAIN-hackathon-team-Kristian-2025-11\",   \"pr_title\": \"Enhance PR workflow to include commit and diff data\",   \"pr_body\": \"Added steps to extract PR info and changes for webhook.\",   \"pr_number\": \"13\",   \"merged_by\": \"eikevons\",   \"commits\": \"7b266b0 Refactor n8n webhook call to use JSON payload\\nb774440 Enhance PR workflow to include commit and diff data\\n\",   \"diff\": \" .github/workflows/pr-main-changelog-trigger.yml | 68 +++++++++++++++++++++----\\n 1 file changed, 59 insertions(+), 9 deletions(-)\\n\" }",
              "type": "object"
            },
            {
              "id": "9b2421ca-499e-4554-a95a-62bd8f16021b",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        176
      ],
      "id": "69b5ffa3-f674-4ec1-a42a-7e63e7eb4599",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "335b7439-3eaa-4f2e-b556-45c997f70935",
              "name": "chatInput",
              "value": "=You are an expert technical writer summarizing GitHub pull requests for release notes.\n\nUse the information below to write a concise changelog entry and a short Slack-style release message.\n\n### Rules\n- Focus on what changed and why it matters.\n- Avoid boilerplate like \"this PR\" or \"minor fixes\".\n- Prefer active voice and concise sentences.\n- Format for Markdown/Slack (bold features, bullet lists if multiple items).\n- If commits or diffs mention tests, docs, or refactors, summarize them together.\n\n---\n\n### Repository\n{{$json.repo}}\n\n### PR Title\n{{$json[\"pr_title\"]}}\n\n### PR Description\n{{$json[\"pr_body\"]}}\n\n### Commits\n{{$json[\"commits\"]}}\n\n### Diff Summary\n{{$json[\"diff\"]}}\n\n---\n\n### Output Format\n**Release Summary:**\n<2–3 sentences summarizing the overall change>\n\n**Highlights:**\n- <key improvement or addition>\n- <other relevant changes>\n\n**Merged by:** {{$json[\"merged_by\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        80
      ],
      "id": "1b68cbca-e850-4705-a442-7f4698a7aa48",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2f4f610-5981-4349-a7d4-dacc08eb1136",
              "name": "repo",
              "value": "={{ $json.json.repo }}",
              "type": "string"
            },
            {
              "id": "0dcbd586-d0dd-409b-8d2c-abc5ee3be6f9",
              "name": "pr_title",
              "value": "={{ $json.json.pr_title }}",
              "type": "string"
            },
            {
              "id": "6741f1a5-1532-4339-82c0-e2f487e51c85",
              "name": "pr_body",
              "value": "={{ $json.json.pr_body }}",
              "type": "string"
            },
            {
              "id": "9de4f4b9-9197-46d8-b3f0-abf8a861e34c",
              "name": "pr_number",
              "value": "={{ $json.json.pr_number }}",
              "type": "string"
            },
            {
              "id": "ba94362a-f824-499b-9075-ae92ee0ab564",
              "name": "merged_by",
              "value": "={{ $json.json.merged_by }}",
              "type": "string"
            },
            {
              "id": "b72c4e08-63d5-4aae-b403-08ed5ee33552",
              "name": "commits",
              "value": "={{ $json.json.commits }}",
              "type": "string"
            },
            {
              "id": "90e16211-1737-4562-b867-63fe0927e25d",
              "name": "diff",
              "value": "={{ $json.json.diff }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        176
      ],
      "id": "26eac62e-9c62-47bc-bb99-99ccd16978c6",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "48425e2c-d985-447c-b1e2-a3dd8cd7a805",
              "name": "projectDeliverablesDocument",
              "value": "=Automated Email Notifications\n\nEnd-users receive timely notifications for feedback requests related to code changes.\nAcceptance Testing: Verify if emails are received promptly post code changes, with clear instructions on what features to test.\nSummary of Code Changes\n\nA clear, concise summary generated from code diffs and commit messages.\nAcceptance Testing: Ensure summaries are accurate, intelligible, and highlight changes relevant to the end-user's experience.\nFeedback Request Instructions\n\nDetailed testing instructions included in message templates describing steps to validate system functionality.\nAcceptance Testing: Check clarity and completeness of testing instructions.\nReminder Notifications\n\nAutomated reminders are sent after 3 days to those who have not yet responded to feedback requests.\nAcceptance Testing: Confirm reminders are sent properly and only to users who did not provide feedback.\nSummarized Feedback Report\n\nA concise report provided to project managers summarizing user feedback, including highlights and issues identified.\nAcceptance Testing: Assess if summarization accurately reflects user feedback and is presented in a digestible format.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        240
      ],
      "id": "0279c1a9-ac67-4a5c-b069-50f58852286b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#hackathon-2025-11-remote-team",
          "mode": "name"
        },
        "text": "=Client message template:\n---\n{{ $json.output }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1808,
        48
      ],
      "id": "e3fcbc3b-0637-463e-ad3c-468e6ef65afb",
      "name": "Send a message1",
      "webhookId": "ed4d2559-b07b-40c2-9e08-f179883e4910",
      "credentials": {
        "slackApi": {
          "id": "Nv7GP6u0QWldgp0H",
          "name": "Slack bot n8n DAIN internal"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1424,
        432
      ],
      "id": "2dad07ff-0c2d-4103-8b50-24ea880fe410",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "1DvNJleZFQU9idTA",
          "name": "DAIN internal OpenAI key"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        832,
        80
      ],
      "id": "dbb1029a-b8cf-4fed-889b-3e971a1c4be7",
      "name": "Create changelog"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert assistant responsible for communicating the next steps in a project to end-users by providing a clear overview of the deliverables that require acceptance testing. Your goal is to generate a message that includes only those changes from the provided changelog that are testable by end-users.\n\nHere's what you need to do:\n\nUnderstand the Input:\n\nYou will receive a list of project deliverables and a changelog entry.\nAnalyze the list and the changelog to identify changes relevant to end-user testing.\nCraft the Message:\n\nBegin with a friendly greeting and brief introduction.\nProvide a summary of project deliverables that are ready for acceptance testing.\nClearly outline the features or changes from the changelog that end-users can test.\nOffer guidance on what to focus on during testing.\nInclude any helpful tips or reminders about the testing process.\nEnd with a thank you and invitation to provide feedback.\nMessage Format:\n\nExample Output Format:\n\nSubject: Invitation to Acceptance Testing for New Project Features\n\nDear [End-User Name],\n\nWe are excited to announce that new updates from our latest project deliverables are ready for acceptance testing! Your feedback is crucial in ensuring these features meet your needs and expectations.\n\nProject Deliverables Ready for Testing:\n\n[Deliverable 1]: Brief description and expected outcome.\n[Deliverable 2]: Brief description and expected outcome.\nTestable Changes from Latest Update:\n\n[Feature/Change 1]: Brief description and how it improves user experience.\n[Feature/Change 2]: Brief description and areas to focus during testing.\nAs you test these updates, please pay special attention to [specific elements/context]. Your insights will help us enhance the final product.\n\nThank you for your participation in this important phase. We look forward to your feedback!\n\nBest regards,\n\n[Your Name/Team] [Contact Information]\n\n## Project deliverables\n\n{{ $json.projectDeliverablesDocument }}\n\n## Recent changes\n{{ $('Create changelog').item.json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1424,
        240
      ],
      "id": "e499b94f-0e53-42e8-a60e-3d0446e84c2e",
      "name": "Prepare template message"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11bc33d2-19d9-43b0-aa0d-e2c344b75637",
              "name": "repo",
              "value": "={{ $json.body.repo }}",
              "type": "string"
            },
            {
              "id": "ce92ccf8-a0d2-48e6-9cf4-682645550f43",
              "name": "pr_title",
              "value": "={{ $json.body.pr_title }}",
              "type": "string"
            },
            {
              "id": "63d6b7ab-6594-46f2-8d58-cab81386a636",
              "name": "pr_body",
              "value": "={{ $json.body.pr_body }}",
              "type": "string"
            },
            {
              "id": "8d3075e8-7c4f-435b-b713-047f6803bd95",
              "name": "pr_number",
              "value": "={{ $json.body.pr_number }}",
              "type": "string"
            },
            {
              "id": "de40e35d-902c-466d-a6da-d5b32216a509",
              "name": "merged_by",
              "value": "={{ $json.body.merged_by }}",
              "type": "string"
            },
            {
              "id": "9e895bac-9e9c-4d17-b311-238e060d3ae8",
              "name": "commits",
              "value": "={{ $json.body.commits }}",
              "type": "string"
            },
            {
              "id": "f1d55b66-fddc-40e0-b78d-86714eee17b5",
              "name": "diff",
              "value": "={{ $json.body.diff }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        -192
      ],
      "id": "c033d4da-5e02-4178-8457-eb4e39d7f59e",
      "name": "Edit Fields4"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Create changelog",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Create changelog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Prepare template message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Prepare template message",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create changelog": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare template message": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4a56b3a0-5c3b-48a1-9011-3e8f061563c4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9e227d6762a547c66bd73dd57fa04f7926ee2eb1dd5be1eef8e30975f2d14bc9"
  },
  "id": "DXGkeJBBV7V7ZHv8",
  "tags": [
    {
      "updatedAt": "2025-05-13T18:13:41.112Z",
      "createdAt": "2025-05-13T18:13:41.112Z",
      "id": "o1MC0V13TQdpEQuj",
      "name": "Slack Bot"
    }
  ]
}